 h1,h2,h3,p {
     font-family: Helvetica;
 }
 
 h1 {
     background-image: url("C:/projects/Dasmoto's Arts & Crafts/resources/images/pattern.webp");
     text-align: center;
     font-size: 100px;
     font-weight: bold;
     color: khaki;
  }

 .item h2 {
      font-size: 32px;
      font-weight: bold;
      color: white;
  }

 .price {
    font-weight: bold;
    color: blue;
  }

 #brush {
      background-color: mediumspringgreen;
  }

 #frame {
      background-color: lightcoral;
  }

 #paint {
      background-color: skyblue;
  }